{% extends 'base.html' %}
{% block header %}
<div class="jumbotron">
  <h1 class="display-4">信長のブログ</h1>
  <p class="lead">天下布武への道　一覧</p>
{% endblock header %}
{% block content %}

    <div class='conttainer'>
    {% for item in object_list %}
    <div class="card" style="width: 54rem;">
        <h5 class='card-header'>{{ item.category }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <h7 class="card-title">{{ item.postdate }}</h7>
          <h6 class="card-title"></h6>
          <a href="{% url 'detail' item.pk %}" class="btn btn-primary">詳細じゃ！</a>
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock content %}  